




h1 {
     font-family:Arial, Helvetica, sans-serif;
    color:#000;
    font-size:14px;
    text-shadow: 2px 2px 0px #fff;


}


 .titulo {
  position: absolute;
  top:  30px;
  left: 80px;
}

.textocabecera {

 position: absolute;
  top:  110px;
  left: 50px;
  width: 400px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
    font-size:11px;
    text-shadow: 1px 1px 0px #fff;

}

.fecha {
font-weight:bold;
 position: absolute;
  top:  70px;
  left: 50px;
  font-family:Arial, Helvetica, sans-serif;
    color:#000;
    font-size:11px;
    text-shadow: 1px 1px 0px #fff;

}

.usuario {
font-weight:bold;
 position: absolute;
  top:  70px;
  left: 350px;
  font-family:Arial, Helvetica, sans-serif;
    color:#000;
    font-size:11px;
    text-shadow: 1px 1px 0px #fff;

}


.ceco {
font-weight:bold;
 position: absolute;
  top:  90px;
  left: 50px;
  font-family:Arial, Helvetica, sans-serif;
    color:#000;
    font-size:11px;
    text-shadow: 1px 1px 0px #fff;

}


.detalle  {
  position: absolute;
  top:  200px;
  left: 50px;
}


.firmas {
  position: absolute;
  top:  450px;
  left: 10px;
}
.firma1 {
position: relative;
  top:  10px;
  left: 100px;
  width: 150px;
border-bottom: 1px solid #000;

}

.firma2 {
position: relative;
  top:  10px;
  left: 400px;
   width: 150px;
border-bottom: 1px solid #000;

}





table {
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
    font-size:15px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#000 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:2px 2px 2px 2px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #000;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: left;
    padding-left:2px;
}
table td:first-child {
    text-align: left;
    padding-left:2px;
    border-left: 0;
}
table td {
    padding:4px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #000;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}





<body>
     <div class="titulo"> <h1>SOLICITUD DE MATERIALES Y SERVICIOS - 0000011134 </h1>  </div>
          <div class="textocabecera">
                       Estos materiales han sido solicitados apra compeltar le proyecto de la nueva
                       obra en al mian de san lorenzo, se poryecta la coinstruccion de una
                       nueva planta procesadoir ade oro, exportaciopn
             </div>
            <div class="fecha">
                       Fecha : 14-02-2014
             </div>
             <div class="usuario">
                       Usuario : mcampana
             </div>
             <div class="ceco">
                      Imputacion : 903256 - Comunes
             </div>

    <div class="detalle">
<div id="content">

    <table cellspacing="0">
    <tbody>
            <tr class="odd-row">
                    <th class="first">Item</th>
                    <th>Cant.</th>
                    <th>Um</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Fecha Ent</th>
                    <th class="last">Fecha</th>
            </tr>
            <tr>
                    <td class="first"> 001   </td>
                     <td>12.75</td>
                    <td >Kg</td>
                     <td>14000008</td>
                    <td >SAL INDUSTRIAL 9 KG-TH</td>
                    <td>14-04-2014</td>
                    <td class="last">16-04-2014</td>
            </tr>
            <tr>
                    <td class="first"> 001   </td>
                     <td>12.75</td>
                    <td >Kg</td>
                     <td>14000008</td>
                    <td >SAL INDUSTRIAL 9 KG-TH</td>
                    <td>14-04-2014</td>
                    <td class="last">16-04-2014</td>
            </tr>
            <tr>
                    <td class="first"> 001   </td>
                     <td>12.75</td>
                    <td >Kg</td>
                     <td>14000008</td>
                    <td >SAL INDUSTRIAL 9 KG-TH</td>
                    <td>14-04-2014</td>
                    <td class="last">16-04-2014</td>
            </tr>
            <tr>
                    <td class="first"> 001   </td>
                     <td>12.75</td>
                    <td >Kg</td>
                     <td>14000008</td>
                    <td >SAL INDUSTRIAL 9 KG-TH</td>
                    <td>14-04-2014</td>
                    <td class="last">16-04-2014</td>
            </tr>

      </tbody>
  </table>

</div>

</DIV> <!-- FIN DEL DEL DETALLE  !-->

<div class="firmas">
  <div class="firma1"> </div>
  <div class="firma2"> </div>

</div>


