<p style="text-align: center;"><strong>ORDEN DE COMPRA NACIONAL 450000023</strong></p>
<p style="text-align: center;"><strong>CENTRO AREQUIPA</strong></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>&nbsp; Se&ntilde;ores : PESQUERA EXALMAR S.A.A.</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp; &nbsp;Calle la encalada 345 Surco</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp;RUC : &nbsp;2058676823</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp;Referencia : COTIZAC. 235659</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp;Fecha : &nbsp;12-12-2014</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp;Contacto : &nbsp;MIGUERL RIOS CARDENAS</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;456-8952/823*4566</strong></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>&nbsp; &nbsp;Atenci&oacute;n: &nbsp;JOSE LEVANO MENDOZA</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp;Moneda: &nbsp; &nbsp;DOLAR AMERICANO</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp;Forma de pago: FACTURA A 15 DIAS</strong></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<hr />
<p><span style="font-size: xx-small;">POR MEDIO DE LA PRESENTE SIRVA ATENDER LOS SIGUIENTES MATERIALES A NUESTRAS INSTALACIONES BAJO LAS CONIDCIONES SIGUIENTES</span></p>
&nbsp;
<p>&nbsp;</p>
<table border="0" cellspacing="1" cellpadding="0" align="left"><caption>&nbsp;</caption>
    <tbody>
    <tr>
        <td><strong>ITEM</strong></td>
        <td><strong>CANT &nbsp; &nbsp;</strong></td>
        <td><strong>&nbsp;UM&nbsp;</strong></td>
        <td><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;DESCRIPCION &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></td>
        <td><strong>PUNIT &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></td>
        <td><strong>SUBTOTAL &nbsp; &nbsp;&nbsp;</strong></td>
    </tr>
    <tr>
        <td>001</td>
        <td>12.3</td>
        <td>PZA</td>
        <td>&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>002</td>
        <td>5</td>
        <td>PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.3</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>003</td>
        <td>1</td>
        <td>&nbsp;PZA</td>
        <td>
            <p>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</p>
            <p>Este material debe ser entregado en nuestras plantas, no debe de sermanipulado por las personas sin conocimiento&nbsp;</p>
        </td>
        <td>&nbsp;15.6</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>004</td>
        <td>1</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>005</td>
        <td>12.3</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>006</td>
        <td>11.56</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>007</td>
        <td>12.78</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;125819.3</td>
    </tr>
    <tr>
        <td>008</td>
        <td>40</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>009</td>
        <td>1000</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>010</td>
        <td>100000</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>011</td>
        <td>41</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>012</td>
        <td>11</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>013</td>
        <td>1</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>014</td>
        <td>2</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>015</td>
        <td>3</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>016</td>
        <td>7</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>017</td>
        <td>8</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>018</td>
        <td>5</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    <tr>
        <td>019</td>
        <td>55</td>
        <td>&nbsp;PZA</td>
        <td>&nbsp;&nbsp;CLORURO FERRICO 56% -P.A.</td>
        <td>&nbsp;12.36</td>
        <td>&nbsp;12589.3</td>
    </tr>
    </tbody>
</table>
<p style="text-align: left;"><strong><br /></strong></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong><br /></strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp;</strong></p>
<hr />
<p style="text-align: center;">DESCUENTO ( 15%) &nbsp; USD &nbsp;186.23</p>
<p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;SUBTOTAL &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; USD &nbsp; 12563.8 &nbsp;</p>
<p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;IGV &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; USD &nbsp; 1236.12&nbsp; &nbsp; &nbsp;</p>
<p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TOTAL &nbsp; USD &nbsp; &nbsp;125,5689.36</p>
<p style="text-align: center;">Los materiales ser&aacute;n repcepcionados en nuestros locales de la av. Guardia Chalaca S/N&nbsp;</p>
<p style="text-align: center;"><strong><br /></strong></p>