
.division
{
	
  
    background-color:#EFFDFF;
    border:1px solid #79B4DC;
    margin : 2px;
    padding: 5px;    
    float:left;
    
}

.pedazito {
    margin : 1px;
    padding: 1px;   
    float:left;

}